* {
  --primary: #09357b;
  --secondary: #2153a3;

  --success: var(--seagreen);
  --warning: var(--gold);
  --error: var(--crimson);

  --crimson: #d32f2f;
  --gold: #ffc107;
  --seagreen: #388e3c;
  --darkslateblue: #2a3e9f;
  --darkslateblueOpacity: #012356e5;

  --black: #212121;
  --white: #ffffff;

  --bg-color: var(--white);
}
