@import './assets/variables/color';

body,
html,
p {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Georgia, serif;
}

h1 {
  font-size: 1.4rem;
  @media screen and (min-width: 768px) {
    font-size: 3rem;
  }
}

.container {
  margin: 0 auto;
  min-width: 280px;
  max-width: 600px;
  padding: 0 20px 20px 20px;
  @media screen and (min-width: 1024px) {
    max-width: 1000px;
  }
  @media screen and (min-width: 1400px) {
    max-width: 1200px;
  }
}
